header{
    background-color: grey;
    position: relative;
}

.maintitle {
  font: arial;
  font-size: 40px;
  color: white;
  width: 50%;
  float: left;
  padding-left: 10px;
  text-align: left;
}

.logo {
  float: right;
  padding: 0px;
}

.image-logo{
  width: auto;
  height: 130px;
  margin: 0;
}

.menu {
  border: 1px solid black;
  background-color: grey;
  clear: both;
}

.navigation-bar {
  border-bottom: 5px solid #aa2211;
  background: #aa1177;
  margin: 0 ;
  padding: 0;
}

 li {
  display: inline-block;
  margin: 0;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navigation-bar li:hover {
  background-color: #aa2211;
}


.dashboard {
  background-color: black;
  height: 100%;
  padding: 0px;
}

.idea {
  position: relative;
  border: 1px solid #aa2211;
  border-bottom: 10px solid #aa2211;
  /* border-radius: 15px; */
  background-color: white;
  float: left;
  height: 235px;
  padding: 2px;
  margin: 1px;
  width: 32.9%;
}

.image {
  height: 80px;
  width: 120px;
  float: right;

}

.idea-title {
  float: left;
  font-size: 20px;
  margin-left: 5px;
  color: #aa1177;
}

.description{
  /* border: 1px solid black; */
  border-bottom: 1px solid #aa1177;
  margin: 1px 5px;
  clear: both;
}

.creator{
    font-size: 20 px;
    float: left;
    /* border: 1px solid black; */
}

.idea-action{
  color: black;
  opacity: 0;
  border: 1px solid #aa1177;
  border-radius: 100px;
  background-color: #aa1177;
  width: 250px;
  height: 55px;
  float: right;
  transition-duration: 1s;
  padding: 1px;
  margin-top: 5px;
}

.idea-action:hover{
  opacity: 0.6  ;
  background-color: white;
}

.idea-action p {
  color: red;
  /**position: relative;**/
  display: block;
  opacity: 1;
  margin: 0 10px;
}

.idea-action-icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 5px 10px;
}

.idea-action-icon:hover {
  /* width: 38px;
  height: 38px; */
  cursor: pointer;
  background-color: #aa1177;
}


/**Ranking page**/
table{
  margin-top: 20px;
  /**border: 3px solid black; **/
  width: 100%;
  text-align: center;
}

th{
  border: 2px solid #aa1177;
  height: 80px;
}

thead :nth-child(1){
    width: 3%;
}

thead :nth-child(2){
    width: 25%;
}

thead :nth-child(3){
    width: 45%;
}

thead :nth-child(4){
    width: 3%;
}

thead :nth-child(5){
    width: 6%;
}

thead :nth-child(6){
    width: 6%;
}

thead :nth-child(7){
    width: 6%;
}

td{
  border: 1px solid #aa1177;
  height: 50px;
  padding: 3px;
}

td :nth-child(2) {
  text-align: left;
  text-indent: 5px;
}

td :nth-child(3) {
  text-align: left;
  text-indent: 5px;
}

tbody tr :nth-child(1){
    font-size: 30px;
    text-align: center;
}


/**Submit Idea**/

.left-pannel{
border: 0px solid black;
padding: 10px;
width: 49%;
float: left;
text-align: center;
background-color: black;
}

.right-pannel{
  padding: 10px;
  width: 48%;
  margin-top: 100px;
  float:right;
  height: 600px;
}

.image-new-idea{
  width: 70%;
}

.label-form{
  font-size: 20px;
  font-style: normal;
  margin: 20px 0;
  color: #aa1177;
}

.input-form{


}

.row{
  margin: 10px;

}

.column-left{
text-align: right;
  display: inline-block;
  width: 45%;
}

.column-right{
text-align: left;
display: inline-block;
width: 45%;
}





















/****/
