.logo {
  background-color: grey;
  height: 10  0px;
  padding: 0px;
  margin: 0px;
}

.maintitle {

  font: arial;
  font-size: 100px;
  color: white;

}

.imagelogo{
  display: inline-block;
  height: 100px;
}

.menu {
  border: 1px solid black;
  background-color: grey;
}

.navigationBar {
  border-bottom: 5px solid #aa2211;
  background: #aa1177;
  margin: 0 ;
  padding: 0;
}


 li {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigationBar li:hover {
  background-color: #aa2211;
}


.dashboard {
  border: 0px solid grey;
  background-color: grey;
  height: 100%;
  padding: 0px;
}

.idea {
  border: 1px solid #aa2211;
  border-bottom: 10px solid #aa2211;
  /* border-radius: 15px; */
  background-color: #ffe;
  float: left;
  height: 300px;
  padding: 2px;
  /* margin: 1px; */
  width: 33%;
}
.image {
  display: inline-block;

  height: 80px;
  width: 120px;

}
