body{
  padding: 20px;
  border: 5px;
  border-color: black;
}
h1{
  font-family: sans-serif;
  font-size: 20px;
  color: blue;
}
h2{
  font-family: sans-serif;
  font-size: 18px;
  color: red;
}
h3{
  font-family: cursive;
  font-size: 20px;
  color: blue;
}
h4{
  font-family: monospace;
  font-size: 18px;
  color: red;
}
p {
  font-family: fantasy;
  font-size: 14px;
  border: 5px;
  border-color: black;
  border-width: medium;
}
.special{
  background-color: yellow;
  border-color: red;
  border-width: medium;
  padding: 5px;
  padding-left: 10px;
}
ul {
  background: green;
}
li {
  font-family: cursive;
}
.encabezado {
  position: relative;
  height: 150px;
  top: 10px;
  text-align: left;
  background-color: #CCCCCC;
}
